body {

  background-image: url('../assets/imagens/header/Patas.png'), url('../assets/imagens/outros/Forma-1-mobile.png'),url('../assets/imagens/outros/Forma-2-lateralE.png');
  background-repeat: no-repeat;
  background-position: right top, left top, left 70%;
  position: relative;
  min-height: 100vh;
}

.main__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 100px;
}

.welcome__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4.5rem;
 
}

#h3 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.logo-principal {
  width: 186.67px;
}

.welcome__container h3 {
  color: var(--azul);
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  line-height: 21px;
  width: 312px;
}

.welcome__container p {
  color: var(--azul);
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  line-height: 21px;
  width: 312px;
  margin-top: 0;
}

.form__container {
  /* position: absolute;
  top: 200px; */
  width: 100%;
  margin-bottom: 105px;
  text-align: center;
}

.form-item__container {
  display: flex;
  flex-direction: column;
  width: 86%;
  max-width: 336px;
  margin-left: 50%;
  margin-bottom: 20px;
  transform: translateX(-50%);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--cinza-escuro);
  height: 4.3rem;
  justify-items: center;
}

.form-item__container label {
  margin-bottom: 4px;
}


.form-item__container input {
  background-color: var(--cinza-claro-fundo);
  text-align: center;
  height: 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding: 0;
  border: 6px solid var(--cinza-claro-fundo);
  border-radius: 6px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.form-item__container input::placeholder {
  color: var(--cinza-claro);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
}

/*parte do formulário específica para o login*/
.forgot-password {
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: 1.5rem;
}

.forgot-password a {
  color: var(--coral);
  font-family: 'Poppins', sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
}

/*Botão do formulário*/

.anchor__container {
  background-color: var(--coral);
  border-radius: 6px;
  border: 1px solid var(--coral);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
  padding: 0.5rem 2rem;
  box-sizing: border-box;
  min-width: 148px;
  text-align: center;
}

.anchor__container a {
  color:#FFFFFF;
  font-family:'Poppins', sans-serif;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
 
}

.anchor__container:hover {
  background-color: var(--botao-hover);
  border: 1px solid var(--botao-hover);
}


/*media queries*/

@media screen and (min-width: 768px) {
  body {
    background-image: url('../assets/imagens/header/patas-grande.png'), url('../assets/imagens/outros/forma-1-grande.png'),url('../assets/imagens/outros/forma-2-grande.png');
  background-repeat: no-repeat;
  background-position: right top, left top, 100% 60%;
  }

  .main__container {
    margin-top: 50px;
  }

  .logo-principal {
    width: 251.59px;
  }

  .welcome__container h3 {
    font-size: 1.125rem;
  }

  .welcome__container p {
    font-size: 1.125rem;
    width: 525px;
  }

  .form-item__container {
    font-size: 1.125rem;
  }

  .form__container {
    display: flex;
    flex-direction: column-reverse;
  }

  .form-item__container.confirma-senha {
    order: 1;
  }

  .form-item__container.senha {
    order: 2;
  }

  .form-item__container.email {
    order: 3;
  }
  
  .form-item__container.nome {
    order: 4;
  }

  .form-item__container input::placeholder {
    font-size: 0.875rem;
  }

  .forgot-password a {
    font-size: 0.875rem;
  }

  .anchor__container {
   
    min-width: 164px;
  }

  /*Este media query é apenas para o cadastro resolvendo o issue criado pela inversão das div de email e nome - tive que colocar o form__container como display flex, column e isso desconfigurou o botão de cadastrar*/
  .anchor__container.cadastro{
    top: 47rem;
  }

  .anchor__container a {
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 1440px) {

  .main__container {
    margin-top: -10px;
  }

  .logo-principal {
    width: 259.71px;
  }

  .welcome__container p {
    width: 552px;
  }

  .form-item__container {
    font-size: 1.125rem;
  }

  .form-item__container.email input{
    width: 552px;
    transform: translateX(-20%);
  }

  .form-item__container.nome input {
    width: 552px;
    transform: translateX(-20%);
  }

  .form-item__container input::placeholder {
    font-size: 0.875rem;
  }

  .forgot-password a {
    font-size: 0.875rem;
  }

  .anchor__container {
    min-width: 164px;
  }

  /*Este media query é apenas para o cadastro resolvendo o issue criado pela inversão das div de email e nome - tive que colocar o form__container como display flex, column para poder alterar a ordem das divs filhas e isso desconfigurou o botão de cadastrar*/
  .anchor__container.cadastro {
    top: 43.75rem;
  }

  .anchor__container a {
    font-size: 1.125rem;
  }
}