.nav__container {
  display: flex;
  padding-top: 48px;
  padding-left: 48.5px; 
}

/* .nav__container button {
  background-color: var(--verde);
  border: none;
}

.nav__container button:nth-child(1){
  padding-right: 58.61px;
} */

.nav__container a {
  background-color: var(--verde);
  border: none;
}

.nav__container a:nth-child(1){
  padding-right: 58.61px;
}

.nav__container .user-icon{
  position: absolute;
  right: 37px;
  top: 40px;
  background-color: transparent;
  border: none;
}

/*media queries*/

@media screen and (min-width: 768px) {
  .nav__container {
    margin-left: 50px;
    padding-left: 190px;
    background-image: url('../assets/imagens/logos/Logos-02.png');
    background-repeat: no-repeat;
    background-size: 128px;
    background-position: bottom left;
  }
}

@media screen and (min-width: 1440px) {
  .nav__container {
    margin-left: 161px;
    padding-left: 176px;
    background-image: url('../assets/imagens/logos/Logos-02.png');
    background-repeat: no-repeat;
    background-size: 128px;
    background-position: bottom left;
  }

  .nav__container .user-icon{
    right: 172px;
  }
}