.nav__container {
  display: flex;
  padding-top: 48px;
  padding-left: 48.5px; 
}

.nav__container button {
  background-color: var(--verde);
  border: none;
}

.nav__container button:nth-child(1){
  padding-right: 58.61px;
}

.nav__container .user-icon{
  position: absolute;
  right: 37px;
  top: 40px;
  background-color: transparent;
  border: none;
}