body {
  background-color: var(--azul);
  background-image: url('../assets/imagens/outros/Forma-1-mobile.png'),url('../assets/imagens/outros/Forma-2-lateral.png'), url('../assets/imagens/outros/ilustracao-gato-cachorro2.png');
  background-repeat: no-repeat;
  background-position: left top, right 40%, 50% calc(100% - 90px);
  min-height: 100vh;
}


/*Logo e textos iniciais*/

.main__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 100px;
}

/*Welcome Container*/

h1, h2 {
  margin: 0;
}


.welcome__container {
  margin-top: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-principal {
  width: 186.67px;
}

.welcome__container h2 {
  color: #FFFFFF;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.625rem;
  font-weight: 500;
}

.welcome__container p {
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-align: center;
  line-height: 24px;
  width: 248px;
}

/*Botões*/

.buttons__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 320px;
  
}

.buttons__container a {
  background-color: var(--coral);
  border-radius: 6px;
  border: 1px solid var(--coral);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  color:#FFFFFF;
  font-family:'Poppins', sans-serif;
  font-weight: 600;
  height: 40px;
  line-height: 24px;
  text-decoration: none;
  width: 180px;
  box-sizing: border-box;
  padding-top: 7px;
  text-align: center;
}

.buttons__container a:nth-child(1) {
  margin-bottom: 16px;
}

.buttons__container a:hover {
  background-color: var(--botao-hover);
  border: 1px solid var(--botao-hover);
}

/*media queries*/

@media screen and (min-width: 768px) {
  body {
    background-image: url('../assets/imagens/outros/forma-1-grande.png'),url('../assets/imagens/outros/forma-2-grande.png'), url('../assets/imagens/outros/ilustracao-gato-cachorro-grande.png');
  }

  .logo-principal {
    width: 251px;
  }

  .welcome__container {
    margin-top: 100px;
  }
  .welcome__container h2 {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 48px;  
  }

  .welcome__container p {
    font-size: 1.125rem;
    line-height: 26px;
    width: 350px;
    margin-bottom: 2rem;
  }


  .buttons__container a {
    width: 344px;
    font-size: 1.125rem;
    height: 3rem;
    padding-top: 10px;
  }

}

/* @media screen and (min-height: 1000px) {
  body{
    background-position: left top, right 40%, 50% calc(100% - 100px);
  }
} */

@media screen and (min-width: 1440px) {
  .logo-principal {
    width: 259px;
  }

  .welcome__container {
    margin-top: 50px;
  }

  .welcome__container h2 {
    margin-bottom: 1.75rem;
  }
 
  .welcome__container p {
    width: 488px;
    margin-top: 0;
  }

  .buttons__container a {
    width: 362px;
    font-size: 1.125rem;
  }
}
